doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    base(href="/")
    
    title="folio"

    link(rel="stylesheet" type="text/css" href="index.css")

  body 
    include ./RotateDevice.pug
    include ./Preloader.pug
    #canvas
    .vids
    script.
      window.PROJECTS = !{JSON.stringify(projects).replace(/<\//g, "<\\/")}
    script.
      window.ASSETS = !{JSON.stringify(assets).replace(/<\//g, "<\\/")}
    script.
      window.FONTS = !{JSON.stringify(fonts).replace(/<\//g, "<\\/")}
    script.
      window.VIEW = !{JSON.stringify(view).replace(/<\//g, "<\\/")}
    script(type="module" src="app.js")